<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <batchMaxBytes>65536</batchMaxBytes>
        <batchTimeoutMs>10000</batchTimeoutMs>
        <internalQueuesCheckTimeoutMs>1000</internalQueuesCheckTimeoutMs>
        <http class="com.jeka8833.tntserver.metric.GrafanaProvider"/>
        <format>
            <message class="com.github.loki4j.logback.JsonLayout">
                <customProvider class="com.jeka8833.tntserver.metric.providers.RequesterCacheProvider"/>
                <customProvider class="com.jeka8833.tntserver.metric.providers.JvmMemoryProvider"/>
                <customProvider class="com.jeka8833.tntserver.metric.providers.OnlineProvider"/>
                <customProvider class="com.jeka8833.tntserver.metric.providers.NodesProvider"/>
            </message>
            <label>
                <pattern>app=TNTWebSocketServer1</pattern>
            </label>
        </format>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.jeka8833.tntserver.metric.GrafanaMessageFilter" />

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="com.jeka8833.tntserver.metric.GrafanaMessageFilter" />

        <file>logs/WebSocketServer/TNTServer-latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/WebSocketServer/%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>